{% extends 'blog/base.html' %}
{% load staticfiles %}
<html>    <head>
        <title>Meltem's Blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block content %}
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        {{ post.yayinlanma_tarihi }}
                    </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.baslik }}</a></h1>
                    <p>{{ post.yazi|linebreaks }}</p>
                </div>
            {% endfor %}
			{% endblock content %}
        </div>
    </div>
</div>
    </body>
</html>
