<html>
    <head>
        <title>Meltem'in Blogu</title>
    </head>
    <body>
        <div>
            <h1><a href="">Meltem'in Blogu</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Cok Mutluyum</a></h2>
            <p>Daglara cikip kod yazasim var</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Super</a></h2>
            <p>Bu is cok eglenceli</p>
        </div>
    </body>
</html>