<html<html>
    <head>
        <title>Meltem'in blogu</title>
    </head>
    <body>
        <p>Merhaba!</p>
        <p>hello!</p>
    </body>
</html>

<html>
    <head>
        <title>Meltem Blogu</title>
    </head>
    <body>
        <div>
            <h1><a href="">Meltem Blogu</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">ilk Blogum</a></h2>
            <p>ilk blogum cok heyecanliyim</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">ikinci gonderim</a></h2>
            <p>cok eglenceli</p>
        </div>
    </body>
</html>