{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">


        {% if post.yayinlanma_tarihi %}
            <div class="date">
                {{ post.yayinlanma_tarihi }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Yayınla</a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}


		{% if user.is_authenticated %}
		<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
        <h1>{{ post.baslik }}</h1>
        <p>{{ post.yazi|linebreaks }}</p>

    </div>



    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Yorum Ekle</a><li>Yorumunu onaylandıktan sonra görebilirsin :)</li>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.onaylanmis_yorum %}
        <div class="comment">
            <div class="date">
                {{ comment.yaratilis_tarihi }}
                {% if not comment.onaylanmis_yorum %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <strong>{{ comment.yazar }}</strong>
            <p>{{ comment.yazi|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <li>Henüz bir yorum yok.Haydi ilk yorumu sen ekle!</li>

        
    {% endfor %}

{% endblock %}