h1 a {
    color: black;
    font-family: 'Russo One';
}
.page-header img{
    width: 900px;
    height: 150px;
    margin: 0px 0px 0px 370px;
}
.page-header {
    /*background-color: #00aae4;*/
    
    margin-top: 0;
    padding: 40px 40px 40px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: 	black;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 270px;
}

h1, h2, h3, h4 {
    font-family: 'Russo One', sans-serif;
}
h1:hover{
    color:green;
    font-weight: 900;
    background-color: white;
    text-decoration:none;
}
.post h1{
    text-decoration:none;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: black;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 750px;
    height: 0.5px;
}
.post h1 a{
    text-decoration:none;
}
.post h1 a:hover{
    font-weight: 1200;
}

.comment {
    margin: 20px 20px 20px 20px;
}
